@*@model System.Web.Project.Models.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.Id" />
            <div class="form-group">
                <label asp-for="Employee.EmployeeName" class="control-label"></label>
                <input asp-for="Employee.EmployeeName" class="form-control" />
                <span asp-validation-for="Employee.EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeSurname" class="control-label"></label>
                <input asp-for="Employee.EmployeeSurname" class="form-control" />
                <span asp-validation-for="Employee.EmployeeSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeePhone" class="control-label"></label>
                <input asp-for="Employee.EmployeePhone" class="form-control" />
                <span asp-validation-for="Employee.EmployeePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeAddress" class="control-label"></label>
                <input asp-for="Employee.EmployeeAddress" class="form-control" />
                <span asp-validation-for="Employee.EmployeeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeCity" class="control-label"></label>
                <input asp-for="Employee.EmployeeCity" class="form-control" />
                <span asp-validation-for="Employee.EmployeeCity" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label>Department</label>
                @Html.DropDownList("Department", Model.Department, "Select a Department", new { @class= "form-control required" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@
@model System.Web.Project.Models.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Employee</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.Id" />
            <div class="form-group">
                <label asp-for="Employee.EmployeeName" class="control-label"></label>
                <input asp-for="Employee.EmployeeName" class="form-control" />
                <span asp-validation-for="Employee.EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeSurname" class="control-label"></label>
                <input asp-for="Employee.EmployeeSurname" class="form-control" />
                <span asp-validation-for="Employee.EmployeeSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeePhone" class="control-label"></label>
                <input asp-for="Employee.EmployeePhone" class="form-control" />
                <span asp-validation-for="Employee.EmployeePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeAddress" class="control-label"></label>
                <input asp-for="Employee.EmployeeAddress" class="form-control" />
                <span asp-validation-for="Employee.EmployeeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeCity" class="control-label"></label>
                <input asp-for="Employee.EmployeeCity" class="form-control" />
                <span asp-validation-for="Employee.EmployeeCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Department">Department</label>
                <select id="Department" name="Employee.DepartmentId" asp-items="Model.Department" class="form-control">
                    <option value="">Select a Department</option>
                </select>
                 @*@Html.DropDownList("Department", Model.Department, "Select a Department", new { @class= "form-control required" })"*@
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
