@model IEnumerable<System.Web.Project.Models.Location>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Locations</h1>

@if (ViewData["Alert"] != null)
{
    <h3>@ViewData["Alert"]</h3>
}

<div class="row mb-3">
    <div class="col-md-12">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Location Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<div class="mt-3">
    <a asp-action="Index" asp-controller="Index" class="btn btn-secondary">Back to Main Page</a>
</div>>